/*COLOR PALETTE*/
:root {
    --mainColor: #90B8CF;
    --black:     #000000;
    --white:     #FFFFFF;
}

/*VARIABLES*/
:root {
    --title:        35px;

    --textOne:      15px
    --textTwo:      10px;

    --radius:       10px;
    --radiusTwo:    15px;
    --radiusThree:  20px;
    --radiusFour:   25px;
    --radiusFive:   30px;

    --timeOne:   .1s;
    --timeTwo:   .2s;
    --timeThree: .3s;
    --timeFour:  .4s;
    --timeFive:  .5s;
}